# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CGB2103_MSA\jt-cloud\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
